# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

- List popular languages for Data Science
- List popular libraries for Data Science
- List popular open source tools for Data Science
- Few examples of arithmetic expression

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn
5. Seaborn
6. ggplot
7. TensorFlow
8. SciPy

| Data Science Tools |
|:-|
| Jupyter |
| Apache Spark |
| Hadoop |
| RStudio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
200/6

33.333333333333336

## Author
Sara